<ul class="run-list">
  {{#each model.runs as |run|}}
    {{#link-to 'run' run.id}}
      <li class="run-tile">
        {{date-tile
          date=run.date
          class="run-tile__date"}}
          <ul class="run-info">
            <li class="run-info__item">{{run.distance}} miles</li>
            <li class="run-info__item">time: {{run.time}} pace: {{run.pace}}</li>
          </ul>
        <div class="arrow-container">
          {{fa-icon 'fa-chevron-right'}}
        </div>
      </li>
    {{/link-to}}
  {{/each}}
</ul>
