<div class="run-tracker-container">
  <section class="primary-container">
    <span class="distance">
      {{distance-tracker
        shouldStartTracker=isRunning
        shouldPauseTracker=isPaused
        distance=(mut distance)}}
    </span>
    <div>kilometers</div>
  </section>

  <section class="secondary-container">
    <span class="elasped-time">
      {{stopwatch-timer
        shouldStartTimer=isRunning
        shouldPauseTimer=isPaused
        currentTime=(mut currentTime)}}
    </span>

    <div>
      <span class="pace">
        {{pace-tracker
          distance=distance
          time=currentTime
          pace=(mut pace)}}
      </span>
      <div>
        min/km
      </div>
    </div>
  </section>

  <section class="button-container">
    <span role="button" class="run-button primary-button" tabindex="0">
      {{#if isRunning}}
        <span aria-label="Pause Run" {{ action "pauseRun"}}>
          {{fa-icon "fa-pause-circle"}}
        </span>
      {{else}}
        <span aria-label="Start Run" {{action "startRun"}}>
          {{fa-icon "fa-play-circle"}}
        </span>
      {{/if}}
    </span>
    <span role="button" aria-label="End Run" class="run-button secondary-button" {{action "endRun"}} tabindex="0">
      {{fa-icon "fa-stop-circle"}}
    </span>
  </section>
</div>
