<div class="run-tracker-container">
  <section class="primary-container">
    <span class="distance">
      {{distance-tracker
        shouldStartTracker=isRunning
        shouldPauseTracker=isPaused}}
    </span>
    <div>kilometers</div>
  </section>

  <section class="secondary-container">
    <span class="elasped-time">
      {{stopwatch-timer
        shouldStartTimer=isRunning
        shouldPauseTimer=isPaused}}
    </span>

    <div>
      <span class="pace">{{pace-tracker}}</span>
      <div>
        min/km
      </div>
    </div>
  </section>

  <section class="button-container">
    <span class="run-button primary-button">
      {{#if isRunning}}
        <span {{ action "pauseRun"}}>
          {{fa-icon "fa-pause-circle"}}
        </span>
      {{else}}
        <span {{action "startRun"}}>
          {{fa-icon "fa-play-circle"}}
        </span>
      {{/if}}
    </span>
    <span class="run-button secondary-button" {{action "endRun"}}>
      {{fa-icon "fa-stop-circle"}}
    </span>
  </section>
</div>
